target/
/.idea/
/.vscode/
.DS_Store
/.compozy/*
!/.compozy/tasks/
/.compozy/tasks/*
!/.compozy/tasks/*/
/.compozy/tasks/*/*
!/.compozy/tasks/*/_spec.md
!/.compozy/tasks/*/_user_stories.md
!/.compozy/tasks/*/_dx.md
!/.compozy/tasks/*/_uiux.md
!/.compozy/tasks/*/_tests.md
!/.compozy/tasks/*/_tasks.md
!/.compozy/tasks/*/task_*.md
!/.compozy/tasks/*/adrs/
!/.compozy/tasks/*/adrs/*.md
